.page-transition-enter {
    opacity: 0;
    filter: blur(10px);
  }
  .page-transition-enter-active {
    opacity: 1;
    filter: blur(0px);

    transition: all 300ms;
  }
  .page-transition-exit {
    opacity: 1;
    filter: blur(0px);

  }
  .page-transition-exit-active {
    opacity: 0;
    filter: blur(10px);
    transition: all 300ms;
  }